# Logs
reports/logs/
*.log
Report/log/
Report/cucumber-html/
Report/cucumber-json/
rerun/

# Playwright / Cucumber Test Reports
Report/cucumber-html/
Report/cucumber-json/
rerun/
test-results/
playwright-report/
blob-report/

# Dependencies
node_modules/

# Local Environment / Secrets
.env
.env.*