# Logs
reports/logs/
*.log
Report/log/
Report/cucumber-html/
Report/cucumber-json/
rerun/

# Reports
Report/cucumber-html/
Report/cucumber-json/
Report/reports/
Report/log/
rerun/
test-results/
playwright-report/
blob-report/

# Dependencies
node_modules/

# Local Environment / Secrets
.env
.env.*

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
